.site-nav{
    display: flex;
    margin: 0;
    padding: .5em;
    background-color: fuchsia;
    list-style-type: none;
    border-radius: .2em;
}
.site-nav{
    margin-top: 0;
}
.site-nav > li > a {
    display: block;
    padding: .5em 1em;
    background-color: aqua;
    color: blue;
    text-decoration: none;
    border: blue;
}
.site-nav > li + li {
    margin-left: 1.5em;
}
.site-nav > .nav-right {
    margin-left: auto;
}
header{
    background-color: cyan;
    color: blue;
}